body{
    background-color: antiquewhite;
    background-image: url(./../img/sand.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}
p{
    font-size: 40px;
    color: black;
}
input{
    width: 100%;
    border: 2px solid antiquewhite;
    border-radius: 5px;
    height: 50px;
}
@media all and (orientation: portrait){
    body{
        background-image: url(./../img/sand-portrait.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    form{
        margin-right: 1%;
        margin-left: 1%;
    }
    p{
        font-size: 60px;
        color: white;
    }
}