body{
    background-color: antiquewhite;
    background-image: url(./../img/sand.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}
p{
    font-size: 40px;
    color: black;
}
::placeholder{
    font-size: 20px;
}
input{
    width: 100%;
    border: 2px solid antiquewhite;
    border-radius: 5px;
    height: 50px;
    font-size: 20px;
}
.entrada{
    font-size: 50px;
	background-color: goldenrod;
	border-radius:3px;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
	color: black;
	font-size:50px;
	padding:9px 23px;
    text-decoration: none;
    height: auto;
}
.entrada:hover{
    background-color: black;
    color: goldenrod;
    border: 1px solid goldenrod;
}
.entrada:active{
    position:relative;
	top:1px;
}
a{
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    
}
a{
    font-size: 50px;
	background-color: black;
	border-radius:3px;
	border:1px solid goldenrod;
	display:inline-block;
	cursor:pointer;
	color: goldenrod;
	font-size: 15px;
	padding:9px 23px;
    text-decoration: none;
    height: auto;
    display:block;
    margin-left: 70%;
}
a:hover{
    background-color: goldenrod;
    color: black;
    border: 1px solid black;
}
a:active{
    position:relative;
	top:1px;
}
@media all and (orientation: portrait){
    body{
        background-image: url(./../img/sand-portrait.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    form{
        margin-right: 1%;
        margin-left: 1%;
    }
    p{
        font-size: 60px;
        color: white;
    }
    a{
        font-size: 40px;
        margin-left: 0%;
    }
}