nav{
    height: var(--tamnav);
    width: 99.1vw;
    position: sticky;
    top: 0;
    background-color: black;
    border-bottom: 2px solid goldenrod;
    z-index: 999;
}
ul.navbar{
    height: var(--tamnav);
    /*Flex*/
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    padding: 0;
}
nav > ul.navbar > li{
    /*borde
    border-style:solid;
    border-width:5px;  
    border-color:red;
    */
    text-decoration: none;
    list-style-type: none;
    /*Hago que los elementos ocupen toda la pantalla*/
    width: 19vw;
    text-align: center;
}
nav > ul.navbar > li a{
    text-decoration: none;
    padding: 1rem;
    display: block;
    color: goldenrod;
    font-size: 20px;
}
@media all and (orientation: portrait){
    nav > ul.navbar > li a{
        font-size: 40px;
    }
}
nav > ul.navbar > li a:hover{
    color: red;
}