section.multimedia{
    background-color: black;
}
section.multimedia h1{
    color: goldenrod;
    text-align: left;
    font-size: 40px;
    margin-left: 0.5vw;
    text-decoration: underline;
}

section.multimedia article{
    color: goldenrod;
}
section.multimedia article ul{
    display: flex;
    justify-content: space-between;
    /*Barra lateral*/
    width: 98vw;  
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: 0.5vw;
    margin-right: 1vw;
}
section.multimedia article ul li{
    text-decoration: none;
    list-style-type: none;
    flex-grow: 2;
    margin-right: 2vw;
    position: relative;
}
section .sinopsis{
    display:none;
}
section.multimedia article ul li a{
    color:goldenrod;
    text-decoration: none;
    font-size: 25px;
}
/*Media query que controla si es pantalla grande*/
@media only screen 
and (min-width : 1224px){
    section.multimedia article ul li div.contenedormultimedia{
        position: absolute;
        left: 0;
        top: 0%;
        width: 100%;
        text-align: left;
        font-size: 18px;
        opacity: 0;
        transition: opacity 2s;
        transition: background-color 1s;
    }
    section.multimedia article ul li div.contenedormultimedia:hover{
        opacity: 1;
        background-color: black;
        color: goldenrod;
    }
    section .sinopsis{
        display: block;
        font-size: 11px;
    }
}
section.multimedia article ul li div.contenedormultimedia p{
    margin-left: 2px;
}
span.titulillos{
    color: white;
}